@media screen and (max-width: 768px) {
  #harry {
    position: relative;
    left: -250px;
    animation-name: travelsmall;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    max-width: 100vw;
  }
}

@keyframes travelsmall {
  0% {
    transform: translate(0px,0px);
  }
  25% {
    transform: translate(175px, -50px);
  }
  50% {
    transform: translate(350px,0px);
  }
  75% {
    transform: translate(525px,-50px);
  }
  100% {
    transform: translate(700px, 0px);
  }
}

@media screen and (min-width: 769px) {
  #harry {
    position: relative;
    left: -500px;
    animation-name: travelbig;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s;
    max-width: 100vw;

  }
}

@keyframes travelbig {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(430px, -60px);
  }
  50% {
    transform: translate(860px, 0px);
  }
  75% {
    transform: translate(1290px, -60px);
  }
  100% {
    transform: translate(1900px, 0px);
  }
}

