/* body{
    background-image: url(https://cdn.pixabay.com/photo/2018/06/15/11/16/hogwarts-3476786_1280.png);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: "Splash", cursive;
    font-weight: 400;
    background-color: hsl(241, 84%, 83%);
    background-attachment: fixed;
    
} */